.card{
  width: 200px;
  height: 200px;
  border-radius: 14px;
  padding: 10px;
  
}

.card-green{
  background-color: greenyellow;
}
.card-black{
  background-color: black;
}

.card-white{
  background-color: bisque;
}

.card__rightSide--image{
  width: 100px;
  height: 100px;
  border-radius: 14px;
}

