@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@import './components/card.css';
@import './components/button.css';


.miButton {
  border-radius: 14px;
  padding: 10px;
}

.miButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.list {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-item {
  width: 350px;
  height: 400px;
  background-color: bisque;
  color: #0a0a0a;
  border-radius: 14px;
  padding: 10px;
}

.list-isActive {
  display: flex;
}


